div.cell {
    width: 50px;
    height: 50px;
    float: left;
    border: 2px solid black;
    text-align: center;
}
div.figure {
    background-image: url('./Chess_Pieces_Sprite.png');
    background-size: 600% 200%;
}
div.cell.active {
    border: 2px solid red;
}
div.cell.clickable {
    cursor: pointer;
}

.figure.white {
    background-position-y: 0;
}
.figure.black {
    background-position-y: -100%;
}

.pown {
    background-position-x: -500%;
}
.rook {
    background-position-x: -400%;
}
.knight {
    background-position-x: -300%;
}
.bishop {
    background-position-x: -200%;
}
.queen {
    background-position-x: -100%;
}
.king {
    background-position-x: 0;
}
